/*   
/*      COLORS
/***********************************************************************************/
$backgroundColor: #F0F0F0;
$fontColor: #333;


/*   
/*      SIZES
/***********************************************************************************/
$siteWidth: 90%;
$spacing: 10px;